<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Last modified</th>
            </tr>
            </thead>
            <tbody>
                <% files.forEach(function(file) { %>
                    <tr>
                        <td><input type="checkbox" class="file-checkbox" data-file-name="<%= file.Key %>" /></td>
                        <td>
                            <a href="<%= '/image?src=' + bucket + '/' + file.Key %>"><%= file.Key %></a>
                        </td>
                        <td><%= file.Size %></td>
                        <td><%= file.LastModified %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <a href="/upload" class="btn btn-info">
            Upload...
        </a>

        <form method="post" action="/resize" onsubmit="beforeSubmit()">
            <input type="number" name="rate" max="200" min="1" value="100" /> %
            <input type="hidden" name="files" id="file-names-input" />
            <button type="submit">Resize</button>
        </form>

    </div>

    <script>
        function beforeSubmit() {
            var fileNames = [];
            var checkboxes = document.getElementsByClassName('file-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    fileNames.push(checkboxes[i].getAttribute('data-file-name'));
                }
            }

            document.getElementById('file-names-input').value = JSON.stringify(fileNames);
        }
    </script>
</body>
</html>
